page-home {
<<<<<<< HEAD
  // aqui general 
  
}

.logo-catolico > img {
    justify-content: center;
    height:15em;
    width: 25em;
}
ion-content{
    text-align: center;
    justify-content: center;
=======
    ion-content{
    background-image: url("../assets/img/23.png")  center fixed;
    
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
    }

   
>>>>>>> 72f991db3d1dabfb12fcfe1ef00f93445e55bdbc
}

.input-validacion{
    height:10em;
    width: 50em;
}

.input-validacion > ion-list {
    justify-content: center;
    color: black;
}



