page-home {
    ion-content{
    background-image: url("../assets/img/23.png")  center fixed;
    
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
    }

   
}
