page-masinfo {

}

.logo-doctor > img{
    justify-content: center;
    height:20em;
    width: 15em;
}

ion-col > p {
    text-align: center;
}

.description-doctor{
    text-align: center;
    font-size: 20px;
}
